BOT_TOKEN=your_bot_token_here

API_ID=12345678
API_HASH=abcdef1234567890abcdef1234567890
SESSION_NAME=my_bot

ADMIN_IDS=619839487,1918760732
ALL_ID=nodavlattalim,abitur24,Talim_Live,Talim24uz,ai_lingoBot,nodavlattalim_uz

DB_NAME=guruh
DB_USER=postgres
DB_PASSWORD=parol
DB_HOST=localhost
DB_PORT=5432